<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Martin Šipkovský">
    <title>Pojištěno</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
</head>
<body class="bg-dark">
<header class="bg-dark text-white container-fluid py-0">
    <div class="container-fluid mt-2 mb-2">
        <form action="/login" class="bg-dark">
            <div class="row row-cols-lg-auto g-3 align-items-center mb-3 d-flex justify-content-between">
                <h1 class="display-6">Pojištěno</h1>
                <input type="submit" class="btn btn-primary float-end" value="Přihlásit">
            </div>
        </form>
    </div>

</header>
<section class="container-fluid mt-5 pt-5 text-white">
    <div class="container d-flex justify-content-center">
        <h2>Nový pojištěnec</h2>
    </div>
</section>
<section>
    <form class="container w-25 text-white mt-5 p-3 py-2">
        <div class="row pt-2">
            <div class="col-sm">
                <label>Jméno:</label>
                <label>
                    <input type="text" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
            <div class="col-sm">
                <label>Příjmení:</label>
                <label>
                    <input type="text" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-sm">
                <label>Email:</label>
                <label>
                    <input type="email" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-sm">
                <label>Ulice a č. p.:</label>
                <label>
                    <input type="text" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-sm">
                <label>Město:</label>
                <label>
                    <input type="text" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
            <div class="col-sm">
                <label>PSČ:</label>
                <label>
                    <input type="text" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-sm">
                <label>Telefon:</label>
                <label>
                    <input type="tel" class="border border-secondary rounded bg-dark text-white w-100 form-control"/>
                </label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-sm">
                <input type="submit" class="btn btn-primary text-white w-100 form-control mt-5" value="Vytvořit"/>
            </div>
        </div>
    </form>
</section>
</body>
</html>